body{
    background-color:bisque;
}

h1 {
    text-align: center;
}



#board-container{
    background-color: brown;
    color: black;
    border-color: black;
    border-style: solid;
    
    
}

.cell {
    background-color: #aa9898;
    display: inline-block;
    width: 12%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 15px;
    margin: 3px;
    color: black;
    border-color: #383838;
}
